#movies img{
    width: 100%;
    margin-top: -15px;
}

.mybuttoncenter{
    display: flex;
    margin: auto;
    margin-top: 15px;
}

@media(min-width: 960px) {
    #movies .col-md-3 .well{
        height:430px;
    }

    #movies .col-md-3 img{
        height: 240px;
    }
}

h2{
    text-align: center;
}

.well{
    margin: 25px;
}
.col-md-8{
    max-width: 100%;
}